:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  --nav-bg-primary: #23232e;
  --nav-bg-secondary: #141418;
  --nav-text: #ffffff;
  --title-bg: #464658;
  --bg-content: #faf0be;
  --task-done: rgb(134, 134, 134);
}

#content {
  margin-left: 4.5rem;
  padding: 1rem;
}

/* TITLE AND SUBTITLE */

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.6vw;
  margin-bottom: 1vw;
  text-align: center;
  background-color: var(--title-bg);
  color: var(--nav-text);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.8);
}

#pageTitle {
  font-size: 40px;
}

#tabIndicator {
  padding: 1.6rem 1rem;
  margin-left: 3vw;
  margin-top: -1.3vw;
  align-self: start;
  border-radius: 2px;
  transition: 600ms ease;
  box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.8);
}

#helpLink {
  font-size: 18px;
  margin-right: 1vw;
}

#helpLink:hover {
  text-decoration: underline;
  cursor: pointer;
}


/* TABS */

.containerTabs {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4.3rem;
  height: 100vh;
  background-color: var(--nav-bg-primary);
  transition: width 200ms ease;
}

.containerTabs:hover {
  width: 16rem;
}

.tab:last-child {
  margin-top: auto;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.6rem;
  width: 100%;
  cursor: pointer;
  }

.tab:hover {
  background-color: var(--nav-bg-secondary);
}

.activeTab {
  background-color: var(--nav-bg-secondary);
}

.iconNav {
  width: 100%;
  height: 45%;
}

.containerTabs:hover .iconNav {
  width: 5.5vw;
}

#newTabBtn {
  padding: 1rem;
  height: 60%;
  width: auto;
}

.navText {
  display: none;
  margin-left: 1rem;
  margin-right: 0.8rem;
  color: var(--nav-text);
  width: 100%;
}

.containerTabs:hover .navText {
  display: block;
}

#editRmvDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.6rem;
  width: 100%;
  cursor: pointer;
  }

.editRmvBtn {
  margin: 0;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  text-align: center;
}

.editRmvBtn:hover {
  background-color: var(--nav-bg-secondary);
}


/* TASKS CONTAINER */

.taskContainer {
  margin-bottom: 2vh;
  min-height: 80vh;
  background-color: var(--bg-content);
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.8);
}

.taskDiv {
  position: relative;
  z-index: 0;
  margin-top: 1vh;
  padding: 1vw;
  transition: box-shadow 160ms;
}

.taskDiv:hover {
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.8);
  border-radius: 6px;
}

#dueDate {
  margin-left: -8px;
  font-weight: bold;
  text-decoration: underline;
}

#taskTitle:hover {
  cursor: pointer;
}

#editIcon {
  position: absolute;
  right: 75px;
  width: 1.6vw;
  top: 11px;
}

#rmvIcon {
  position: absolute;
  right: 25px;
  top: 10px;
  width: 1.1vw;
}

#rmvIcon:hover, #editIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 120ms ease;
}

#newTodoBtn {
  margin-top: 1vw;
  padding: 0.8vw;
  width: 10vw;
  border-radius: 5px;
}

#newTodoBtn:hover {
  background-color: hsl(51, 50%, 77%);
  cursor: pointer;
}

.taskDescript {
  margin: 1.9vh 0 2.5vh 0.3vw;
  max-width: 39vw;
  min-height: 7vh;
  border: 1px gray inset;
  border-radius: 4px;
  padding: 0.6vw;
  text-align: justify;
}

.activeTask {
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.8);
  border-radius: 6px;
}

.taskDone {
  color: var(--task-done);
  text-decoration: line-through;
}

/* NEW TASK MODAL */

.newTaskModal {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33vw;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  overflow: auto;
  z-index: 1010;
  background-color: rgba(255, 255, 255, 0.925);
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
}

.newTaskModalOverlay {

  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.418);
}

.titleModalNewTask {
  display: flex;
  justify-content: space-between;
  padding: 1vh 0.6vw;
}

#newTaskTitle {
  align-self: center;
}

#closeNewTask{
  color: #aaa;
  font-size: 30px;
  font-weight: bold;
}

#closeNewTask:hover,
#closeNewTask:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#inputTitle, #inputDate, #inputDescript {
  align-self: center;
  margin-top: -4vh;
  width: 30vw;
  height: 5vh;
  max-width: 100%;
}

#inputDescript {
  min-height: 15vh;
  text-align: justify;
  padding-right: 0.4vw;
  padding-left: 0.4vw;
  resize: none;
}

#inputDate{
  align-self: start;
  margin-left: 1vw;
  width: 8vw;
  text-align: center;
}

.newTaskLabel {
  margin-left: 1vw;
  align-self: start;
}

#submitNewTask {
  align-self: center;
  width: 16vw;
  max-width: 100%;
  height: 6vh;
  margin-bottom: 6vh;
  background-color: rgb(128,128,128,0.3);
  color: rgb(0,0,0,0.8);
  border: 1px solid black;
  border-radius: 4px;
}

#submitNewTask:active {
  border: 1px inset black;
}

#submitNewTask:hover {
  background-color: rgb(128,128,128,0.5);
  color: rgb(0,0,0,1);
  cursor: pointer;
}

/* Generic class to hide elements */

.hideElement {                                                            
  display: none;
}

