body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, white, blue);
}


/* TITLE AND SUBTITLE */

.titleContainer {
  margin-top: 2vw;
  text-align: center;
}

#pageTitle {
  font-size: 4vw;
  margin-bottom: 0.5vw;
}

#subtitle {
  font-size: 1.3vw;
  margin-bottom: 1vw;
}
